@model SLE_System.Models.RegisterViewModel
@{
    ViewData["Title"] = "Register";
}


        <div class="wrapper-page">
        <div class="panel panel-color panel-primary panel-pages">
         <div class="panel-heading bg-img"> 
             <div class="bg-overlay"></div>
            <h3 class="text-center m-t-10 text-white"> Create a new Account </h3>
         </div> 

         <div class="panel-body">
             <form method="post" class="form-horizontal m-t-20">
                 <div asp-validation-summary="All" class="text-danger"></div>
                 <div class="form-group">
                     <div class="col-xs-12">
                         <input asp-for="FirstName" class="form-control" required="" placeholder="FirstName" />
                         <span asp-validation-for="FirstName" class="text-danger"></span>
                     </div>
                     </div>
                 <div class="form-group">
                     <div class="col-xs-12">
                         <input asp-for="LastName" class="form-control" required="" placeholder="LastName" />
                         <span asp-validation-for="LastName" class="text-danger"></span>
                     </div>
                     </div>
                     <div class="form-group">
                         <div class="col-xs-12">
                             <input asp-for="Email" class="form-control" required="" placeholder="Email" />
                             <span asp-validation-for="Email" class="text-danger"></span>
                         </div>
                     </div>

                     <div class="form-group">
                         <div class="col-xs-12">
                             <input asp-for="Password" class="form-control" required="" placeholder="Password" />
                             <span asp-validation-for="Password" class="text-danger"></span>
                         </div>
                     </div>

                     <div class="form-group">
                         <div class="col-xs-12">
                             <input asp-for="ConfirmPassword" class="form-control" required="" placeholder="ConfirmPassword" />
                             <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                         </div>
                     </div>
                     <div class="form-group text-center m-t-40">
                         <div class="col-xs-12">
                             <button class="btn btn-primary waves-effect waves-light btn-lg w-lg" type="submit">Register</button>
                         </div>
                     </div>

                     <div class="form-group m-t-30">
                         <div class="col-sm-12 text-center">
                             <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Login">Already have account?</a>
                         </div>
                     </div>
</form>

    </div>
</div>
</div>


